<h1 class="text-center">Lista Pessoa Component</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of pessoas">
            <td scope="row">{{ item.nome }}</td>
        </tr>


    </tbody>
</table>