<mat-toolbar style="padding-top: 10px">
    <ul>
        <li>
            My App
        </li>
        <li [routerLink]="['inicio/listaPessoa']">
            Inicio
        </li>
    </ul>
</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>

